---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

{% include head.html %}

<body class="site">

    {% if site.google_tag_manager %}

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}" height="0"
            width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <!--상단 타이틀 배너 영역-->
    <div class="hero--small">
        <div class="hero__wrap">
            <h1 class="hero__title">{{ page.title }}</h1>
        </div>
    </div>

    <!--컨텐츠 영역-->
    <main class="site__content">
        <section class="blog">
            <div class="container">
                <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">
                    <!--포스트 파일안에 categories값이 devlog인것만 보여준다.-->
                    {% for post in site.categories['Devlog'] %}
                    {% include list.html %}
                    {% endfor %}
                    {% include pagination.html %} 
                </div>
            </div>
        </section>
    </main>

    <!--footer 영역-->
    {% include footer.html %}

</body>

</html>